.issues-hero {
	// .issues-hero__header

	&__header {
		background-color: var(--footer-bg);
		padding-block: 1.25rem; /* 20/16 */
		font-size: 2rem; /* 32/16 */
		line-height: 1.1;
		color: var(--posts-info-text);
		font-weight: 700;
		h1 {
			margin-block-end: 0;
		}
	}

	// .issues-hero__row

	&__row {
		padding-block: 3rem; /* 48/16 */
		a {
			inline-size: 100%;
			@media (any-hover: hover) {
				&:hover .issues-hero__image::before {
					opacity: 1;
				}
			}
		}
	}

	// .issues-hero__image

	&__image {
		aspect-ratio: 313 / 372;
		position: relative;
		&:before {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			content: "";
			-webkit-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			-webkit-box-shadow: inset 0 0 5rem 0 rgba(38, 50, 56, 0.5);
			box-shadow: inset 0 0 5rem 0 rgba(38, 50, 56, 0.5);
			opacity: 0;
		}
	}

	// .issues-hero__name

	&__name {
		overflow-wrap: anywhere;
		font-size: 0.75rem; /* 12/16 */
		padding-block: 0.625rem 1.625rem; /* 26/16 */
		color: var(--posts-title);
		@media (min-width: 991.98px) {
			padding-block: 1.625rem 3.125rem; /* 50/16 */
			font-size: 1.2rem;
			line-height: 1.2;
			font-weight: 500;
			padding-inline: 0.625rem; /* 10/16 */
		}
	}
}
.row {
}
.row-cols-4 {
}
.text-center {
}
.col {
}
.img-fluid {
}
