.search-board {
	padding-block: 1rem;
	background: var(--search-board-bg);
	color: var(--primary-bg);
	position: fixed;
	inset-inline-start: 0;
	inset-block-start: 0;
	inline-size: 100%;
	z-index: 100;
	transform: translate(0, -100%);
	transition: 600ms cubic-bezier(0.375, 0.88, 0.505, 0.91);
	@media (min-width: 991.98px) {
		padding-block: 1.3125rem;
	}
	&__logo {
		inline-size: 11.25rem;
		a {
			inline-size: 100%;
		}
		@media (max-width: 479.98px) {
			display: none;
		}
	}
	&.active {
		transform: translate(0, 0%);
	}

	&__container {
		@media (min-width: 479.98px) {
			display: grid;
			align-items: center;
			justify-content: space-between;
			grid-template-columns: auto 1fr;
			column-gap: 2rem; /* 32/16 */
		}
		@media (min-width: 767.98px) {
			column-gap: 4rem; /* 64/16 */
		}
	}
	// .search-board__content

	&__content {
		max-inline-size: 57.5rem; /* 920/16 */
		inline-size: 100%;
		justify-self: end;
		display: flex;
		align-items: center;
		column-gap: 1rem; /* 16/16 */
		&::before {
			content: "";
			inline-size: 1.125rem; /* 18/16 */
			flex-basis: 1.125rem; /* 18/16 */
			flex-shrink: 0;
			aspect-ratio: 1;
			background: url("../img/icons/search.svg") 0 0 / contain no-repeat;
		}
	}

	// .search-board__input

	&__input {
		font-size: 1.5rem;
		line-height: 1;
		font-weight: 500;
		border-bottom: 0.0625rem solid var(--primary-bg);
		background: transparent;
		inline-size: 100%;
	}
}
