[class*="--cover"] img,
[class*="--cover"] video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
[class*="--contain"] img,
[class*="--contain"] video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.label {
	display: flex;
	align-items: center;
	column-gap: 0.625rem; /* 10/16 */
	color: var(--posts-info-text);
	font-weight: 700;
	line-height: 0.75; /* 75% */
	text-transform: uppercase;
	margin-block-end: 2rem; /* 32/16 */
	h2 {
		flex-shrink: 0;
		margin-block-end: 0;
	}
	@media (min-width: 479.98px) {
		margin-block-end: 3rem; /* 48/16 */
	}
	&::after {
		content: "";
		height: 0.625rem;
		inline-size: 100%;
		background-color: var(--posts-border);
	}
}
[class*="--hover"] {
	@media (any-hover: hover) {
		img {
			transition: filter 0.3s ease;
		}

		&:hover img {
			filter: var(--hover-image);
		}
		&:active img {
			filter: none;
		}
	}
}
